<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Sirel">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
</phpunit>

